@model WebApp.Models.User

@{
    ViewBag.Title = "Login";
}

@*<h2>Login</h2>*@
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body border rounded">
                    @using (Html.BeginForm("Login", "Account"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="container">
                            <fieldset>
                                <legend class="card-title">Log In</legend>
                                <div>
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.EmailId, "User Name")
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.EmailId, new { @class = "input-text", placeholder = "Username" })
                                        @Html.ValidationMessageFor(model => model.EmailId)
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <div class="editor-label">
                                        @Html.LabelFor(model => model.Pwd, "Password")
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(model => model.Pwd, new { @class = "input-text", placeholder = "Password" })
                                        @Html.ValidationMessageFor(model => model.Pwd)
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <input class="btn btn-primary" type="submit" value="Log In" class="btn" />
                                </div>
                            </fieldset>
                        </div>                        
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
